/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, button, details, summary {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #f37736;
}
/* Set a background color for the body */
body {
    background-color: #f0f0f0; /* Light gray background color */
    color: #130040; /* Default text color */
    line-height: 1.6;
    font-size: 16px;
    position: relative; /* Add relative positioning to the body */
}

/* Style the header */
header {
    background-color: #130040; /* Header background color */
    color: #fff; /* Header text color */
    padding: 20px;
    position: relative; /* Add relative positioning to the header */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
/* Style the navigation bar */
nav.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo in the navigation menu */
nav.top .logo {
    max-width: 10%; /* Adjust the width of the logo as needed */
    height: auto;
}

/* Style the links in the navigation bar */
nav.top ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the list items in a row */
    align-items: center; /* Vertically center items */
}

nav.top li {
    margin-left: 20px; /* Adjust as needed for spacing between menu items */
    position: relative; /* Add relative positioning to the list items */
    width: 35%;
}

/* Style the rest of the links in the navigation bar */
nav.top a {
    text-decoration: none;
    color: #FFFFFF; /* Text color for the links 00713d */
    padding: 10px 10px; /* Adjust as needed for spacing around text */
    font-size: 14px; /* Set the font size to make text smaller */
    transition: color 0.3s;
}

/* Change link color on hover */
nav.top a:hover {
    color: #f37736; /* Hover color */
}

/* Style the active tag in the navigation menu */
nav.top a.active {
    color: #f37736; /* Active link color */
}

/* Set a max width for the navigation bar to cover the last 75% of the screen width */
nav.top ul {
    max-width: 100%; /* Adjust as needed */
    margin-left: auto; /* Right-align the navigation items */
}

/* Your existing CSS styles */

/* Style for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    font-size: 14px;
    transition: color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #130040;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    background-color: #FFC000; /* Hover color */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Adjust styles as needed */

  
/* Style the main section */
section {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #130040;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Style the "Learn More" button */
button:hover {
    background-color: #f37736; /* Hover color */
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #130040; /* Footer background color */
    color: #fff; /* Footer text color */
}

/* Style the details element */
details {
    background-color: #ffd700; /* Details element background color */
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
}

/* Style the summary inside the details element */
details summary {
    cursor: pointer;
}


/* Apply general styles to the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #130040;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Style individual sections */
section {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section a {
    color: #f37736; /* Change this to your desired text color */
    text-decoration: underline; /* Remove default underline */
    position: relative; /
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    margin-top: 10px;
}

/* Style buttons */
button {
    background-color: #130040;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFC000;
}

/* Apply styles to the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #130040;
    color: #fff;
}


/* Timeline for Company History */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
}